@font-face {
    font-family: 'RockwellRegular';
    src: url('rockwell.eot');
    src: url('rockwell.eot') format('embedded-opentype'),
         url('rockwell.woff2') format('woff2'),
         url('rockwell.woff') format('woff'),
         url('rockwell.ttf') format('truetype'),
         url('rockwell.svg#RockwellRegular') format('svg');
}
