@white:                               #fff;
@black:                               #000;
@gold:                                #c3b787;
@blue:                                #03a9f4;
@primary-color:                       #999999;
@body-color:                          #616a7a;
@gray:                                #a5a5a5;

@body-font:                           "RockwellRegular";
@gen-bk:                              "GenBkBasB_1";
@brandon-bold:                        "Brandon_bld";