.banner-img {
  height: 750px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #0655a4), color-stop(1, #33a5d7));
    background-image: -o-linear-gradient(left, #0655a4 120%, #33a5d7 100%);
    background-image: -moz-linear-gradient(left, #0655a4 120%, #33a5d7 100%);
    background-image: -webkit-linear-gradient(left, #0655a4 120%, #33a5d7 100%);
    background-image: -ms-linear-gradient(left, #0655a4 120%, #33a5d7 100%);
    background-image: linear-gradient(to left, #0655a4 120%, #33a5d7 100%);
    .opacity(.3);
  }
}

.section-banner.banner-subpage {
  .banner-img {
    height: 400px;
  }

  &:after {
    bottom: -40px;
    height: 130px;
    background: #fff;
    -webkit-transform: skewY(-2.3deg);
    -moz-transform: skewY(-2.3deg);
    -ms-transform: skewY(-2.3deg);
    -o-transform: skewY(-2.3deg);
    transform: skewY(-2.3deg);
  }
}