// ==================================================================================
// Base
// ==================================================================================

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  font-family: @body-font;
  line-height: 1.6;
  color: @body-color;
}

#page-wrapper {
  padding-top: 70px;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (min-width: 1024px) {
    padding-top: 130px;
  }

  @media (max-width: 991px) {
    padding-top: 0;
  }
}

p {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  font-family: @gen-bk;
  .transition(all ease-in-out .3s);
  color: #616a7a;

  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
}

// tags
h1 {
  font-size: 70px;

  @media (max-width: 929px) {
    font-size: 60px;
  }

  @media (max-width: 796px) {
    font-size: 50px;
  }

  @media (max-width: 660px) {
    font-size: 40px;
  }

  @media (max-width: 500px) {
    font-size: 35px;
  }
}

h2 {
  font-size: 50px;

  @media (max-width: 1399px) {
    font-size: 40px;
  }
  @media (max-width: 1199px) {
    font-size: 35px;
  }
  @media (max-width: 600px) {
    font-size: 30px;
  }
}

h3 {
  font-size: 29px;

  @media (max-width: 1399px) {
    font-size: 25px;
  }
  @media (max-width: 1199px) {
    font-size: 20px;
  }
  @media (max-width: 991px) {
    font-size: 25px;
  }
}

h5 {
  font-size: 28px;
  color: #616a7a;
}

h6 {
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @gen-bk;
  color: #032b5b;
  margin: 10px 0;
}

h4 {
  font-size: 24px;
  color: #737373;
}

img {
  width: auto;
  height: auto;
}

// List
ul {
  display: block;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    vertical-align: top;

    a {
      display: block;
    }
  }
}