.btn-common {
  background-color: @white;
  color: #032b5b;
  display: inline-block;
  padding: 12px 38px;
  text-transform: uppercase;
  font-family: @gen-bk;
  font-size: 20px;
  .box-shadow(0 0 0 0);
  .transition(.6s);

  &:hover {
    .box-shadow(0 0 0 5px #f2f2f2);
    background-color: #032b5b;
    color: @white;
  }
}

.btn-white {
  background-color: transparent;
  color: @white;
  border: 1px solid @white;
  cursor: pointer;
}

.btn-blue {
  background-color: #032b5b;
  color: @white;
  font-size: 18px;

  &:hover {
    .box-shadow(0 0 0 5px rgb(203, 203, 203));
    color: @white;
  }
}