.carousel-control.left, .carousel-control.right {
  background-image: none;
  top: auto;
  bottom: -75px;
  width: auto;
  color: #032b5b;
  box-shadow: none;
  text-shadow: none;
  opacity: 1;
  font-size: 40px;
}

.carousel-control.right {
  right: auto;
  left: 5%;
}