.bg-inline {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
.bg-fixed {
  background-attachment: fixed;
}
.white-caption h2, .white-caption p, .white-caption a, .white-caption h3 {
  color: @white;
}
.sep {
  width: 0;
  background-color: #032b5b;
  height: 2px;
  float: left;
  margin-top: 2em;
  .transition(all .5s ease-in-out);
}
body.is__in {
  .sep {
    width: 100px;
  }
}