.caption {
  top: 40%;
  width: 60%;
  
  h1 {
    color: @white;
    max-width: 900px;
    margin: auto;
  }
}

.folds {
  padding: 10em 0 !important;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: -26px;
    width: 100%;
    height: 62px;
    background: #fff;
    -webkit-transform: skewY(-1.5deg);
    -moz-transform: skewY(-1.5deg);
    -ms-transform: skewY(-1.5deg);
    -o-transform: skewY(-1.5deg);
    transform: skewY(-1.5deg);
    z-index: 1;
  }
}

.consult-section {
  .white-caption {
    p {
      max-width: 530px;
    }
    .btn-white {
      margin: 3em 0;
      float: right;
    }
  }
}

.section-services-list {
  position: relative;
  background-color: #fafafa;

  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    top: -42px;
    width: 100%;
    height: 90px;
    background: #fafafa;
    -webkit-transform: skewY(1.5deg);
    -moz-transform: skewY(1.5deg);
    -ms-transform: skewY(1.5deg);
    -o-transform: skewY(1.5deg);
    transform: skewY(1.5deg);
  }

  &:after {
    bottom: -5%;
    top: initial;
    background-color: @white;
  }
}

.services-list-grid {
  padding-top: 6em;
  
  a {
    display: block;
    overflow: hidden;
    margin: 2em 0;

    .services-grid-holder {
      .scale(1,1);
      .transition(all .3s ease-in-out);
    }

    &:hover {
      .services-grid-holder {
        .scale(1.1,1.1);
      }
    }
  }

  .services-grid-holder {
    height: 400px;
    position: relative;

    &:before {
      .opacity(.6);
    }
  }

  .services-grid-content {
    position: absolute;
    top: 50%;
    left: 50%;
    .translate(-50%,-50%);
    text-align: center;
    width: 70%;
  }

  .col-md-4 {
    &:nth-child(even) {

      a {
        margin: 0;
      }

      .services-grid-holder {
        height: 450px;
        .box-shadow(0px 0px 26px 2px rgba(0,0,0,0.29));
      }
    }
  }
}

.news-list {
  a {
    &:hover {
      color: #032b5b;
    }
  }
}

.news-list-content {
  h3 {
    max-width: 330px;
  }
  p {
    max-width: 320px;
    min-height: 144px;
  }
}

.ira-content {
  h3 {
    max-width: 300px;
    min-height: 62px;
  }
}

.footer-section {
  position: relative;
  padding: 7em 0 3em !important;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: -26px;
    width: 100%;
    height: 90px;
    background: @white;
    -webkit-transform: skewY(1.5deg);
    -moz-transform: skewY(1.5deg);
    -ms-transform: skewY(1.5deg);
    -o-transform: skewY(1.5deg);
    transform: skewY(1.5deg);
  }
}

.footer-menu {
  .footer-menu-list {
    margin: 15px 30px 0;

    ul {
      li {
        a {
          font-size: 18px;
          text-transform: uppercase;
          color: #032b5b;
          padding: 0 22px;

          &:hover {
            color: #737373;
          }
        }
      }
    }
  }

  .btn-blue {
    font-size: 16px;
    padding: 15px 25px;
    color: @white;

    .fa {
      margin-left: 5px;
    }
  }

  .footer-logo img {
    width: 100%;
    image-rendering: -webkit-optimize-contrast;
  }
}

.footer-content {
  margin-top: 2em;

  p, a {
    color: #909090;
    line-height: 30px;
    max-width: 389px;
  }

  h4 {
    color: #032b5b;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  ul {
    column-count: 2;

    li {
      display: block;
      margin-bottom: 15px;

      a {
        color: #909090;
        font-size: 16px;
        font-family: @body-font;

        &:hover {
          color: #032b5b;
        }
      }
    }
  }

  .col-md-4 {
    &:before {
      content: '';
      width: 1px;
      height: 100%;
      background-color: #f4f4f4;
      position: absolute;
      right: 3%;
    }

    &:last-child {
      &:before {
        display: none;
      }
    }
  }
}

.footer-contact {
  margin-bottom: 1em;
}

.icon-social {
  float: left;
  margin-top: 4px;

  .fa {
    font-size: 20px;
  }
}

.social-desc {
  margin-left: 3em;

  p {
    max-width: 200px;
    margin-bottom: 8px;
  }

  a, p {
    font-family: @body-font;
    .transition(all .3s ease-in-out);

    &:hover {
      color: #032b5b;
    }
  }
}

.contact-desc {
  margin-bottom: 30px;

  .fa {
    color: #032b5b;
  }
  a, p {
    color: #333333;
    .transition(all .3s ease-in-out);

    &:hover {
      color: #032b5b;
    }
  }
}

.footer-bottom {
  background-color: #fafafa;
  padding: 2em 0;

  .copyright {
    float: left;
    
    p {
      color: #909090;
      margin-top: 5px;
    }
  }

  .social-list {
    float: right;

    ul {
      li {
        border: 1px solid #cbcbcb;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        position: relative;
        margin-right: 8px;
        .transition(all .3s ease-in-out);

        a {
          color: #cbcbcb;
          font-size: 18px;
          position: absolute;
          top: 50%;
          left: 50%;
          .translate(-50%,-50%);
        }

        &:hover {
          border: 1px solid #032b5b;

          a {
            color: #032b5b;
          }
        }
      }
    }
  }
}

.service-holder {
  .service-img-holder {
    overflow: hidden;
  }
  .service-img {
    height: 330px;
    .scale(1,1);
    .transition(all .3s ease-in-out);
  }
  .service-title {
    position: relative;

    .service-title-l1 {
      background-color: @white;
      .box-shadow(0px 0px 22px 1px rgba(0, 0, 0, 0.09));
      text-align: center;
      padding: 35px 0;
      max-width: 500px;
      top: -70px;
      position: relative;
      margin: auto;
      .transition(all .5s ease-in-out);
    }

    .separator {
      width: 20%;
      height: 2px;
      background-color: #032b5b;
      position: absolute;
      bottom: 90px;
      left: 0;
      .transition(all .5s ease-in-out);
    }
  }
  .service-desc {
    p {
      color: #616a7a;
      font-size: 20px;
      max-width: 600px;

      span {
        color: #032b5b;
        font-style: italic;

        .fa {
          margin-left: 5px;
        }
      }
    }
  }
}

.section-services-grid {
  a {
    display: block;
    margin: 0 20px 5em;

    &:hover {
      .service-img {
        .scale(1.1,1.1);
      }
      .service-title-l1 {
        top: -50px;
      }
      .separator {
        width: 15%;
      }
      .service-desc {
        span {
          color: #23527c;
        }
      }
    }
  }
}

.news-grid {
  a {
    display: block;
    border-bottom: 1px solid #032b5b;
    padding-bottom: 40px;
    margin-bottom: 40px;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .btn-blue {
      font-size: 15px;
    }

    &:hover {
      .news-img {
        .scale(1.1,1.1);
      }
    }
  }
}

.news-img-holder {
  margin: 20px 0;
  overflow: hidden;

  .news-img {
    height: 500px;
    .scale(1,1);
    .transition(all .3s ease-in-out);
  }
}

.news-content {
  margin-bottom: 30px;
}

.news-sidebar {
  h3 {
    font-size: 25px;
  }
  .sidebar-content {
    margin-bottom: 20px;
  }
  .news-img {
    height: 180px;
  }
}

.single-date {
  position: absolute;
  background-color: #fcfcfc;
  padding: 4em 2em;
  top: 5%;
  z-index: 1;
  .box-shadow(0px 0px 22px 1px rgba(0, 0, 0, 0.09));

  .sep {
    width: 65px !important;
    margin-top: 1em;
  }
}

.about-img {
  height: 600px;
  margin-top: -13em;
  .box-shadow(0px 0px 22px 1px rgba(0, 0, 0, 0.40));
}

.company-img {
  height: 350px;
}

.diff-icon {
  min-height: 116px;
  position: relative;
  top: 0;
  .transition(all .3s ease-in-out);
}

.diff-title {
  max-width: 250px;
  margin: auto;
}

.different-section li:hover .diff-icon {
  top: 10px;
}

.single-service-img-holder {
  padding: 20px;
  position: relative;
  overflow: hidden;
  .box-shadow(0px 0px 22px 1px rgba(0, 0, 0, 0.09));

  &:before {
    content: '';
    background-color: #032b5b;
    width: 100%;
    height: 73%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &:after {
    content: '';
    background-color: #fff;
    width: 100%;
    height: 43%;
    -ms-transform: skewY(-15.3deg);
    -o-transform: skewY(-15.3deg);
    transform: skewY(-15.3deg);
    position: absolute;
    bottom: 5%;
    z-index: -1;
    left: 0;
    .transition(all .4s ease-in-out);
  }

  .single-service-img {
    height: 400px;
  }

  &:hover {
    &:after {
      -ms-transform: skewY(15.3deg);
      -o-transform: skewY(15.3deg);
      transform: skewY(15.3deg);
    }
  }
}

.trust-holder {
  .white-bg {
    min-height: 213px;
  }
}

.life-chart {
  position: relative;
  margin: 0 auto 4em;
  text-align: center;
  display: table;
  padding-top: 6em;
  border-top: 1px solid #032b5b;
}

.life-img {
  float: left;
  width: 450px;
  position: relative;
}

.people-top {
  margin-bottom: 2em;

  img {
    zoom: 85%;
  }
}

.arrow-top {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 0;
  .transition(all .7s ease-in-out);

  img {
    width: 100%;
  }
}

.arrow-top.go {
  width: 24%;
}

.life-content {
  float: left;

  .btn-common {
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 250px;
    text-align: center;
    text-transform: none;

    &:last-child {
      padding: 25px 38px;
    }
  }
}

.arrow-bottom {
  top: initial;
  right: initial;
  bottom: 37%;
  left: 4%;
}

.life-title {
  h5 {
    color: #616a7a;
  }
}

.life-policies {
  .white-bg {
    margin: 2px;
    .transition(all .3s ease);
    min-height: 166px;

    &:hover {
      .box-shadow(0px 5px 35px 0px rgba(0, 0, 0, 0.09));
    }

    @media (max-width: 1399px) {
      min-height: 186px;
    }
    @media (max-width: 1199px) {
      min-height: 210px;
    }
    @media (max-width: 991px) {
      min-height: initial;
    }
  }
  .col-md-12 {
    .white-bg {
      min-height: initial;
    }
  }
}

.caption-life {
  h3 {
    font-size: 35px;
  }
  p {
    margin-left: 4em;
  }
}

.diagram-holder {
  max-width: 1100px;
  margin: auto;

  img {
    width: 100%;
    image-rendering: -webkit-optimize-contrast;
  }
}

.single-iras-content p {
  font-size: 18px;
}