@font-face {
  font-family: 'DroidSerifRegular';
  src: url('../fonts/DroidSerif/DroidSerifRegular.eot');
  src: url('../fonts/DroidSerif/DroidSerifRegular.eot') format('embedded-opentype'),
  url('../fonts/DroidSerif/DroidSerifRegular.woff2') format('woff2'),
  url('../fonts/DroidSerif/DroidSerifRegular.woff') format('woff'),
  url('../fonts/DroidSerif/DroidSerifRegular.ttf') format('truetype'),
  url('../fonts/DroidSerif/DroidSerifRegular.svg#DroidSerifRegular') format('svg');
}
@font-face {
  font-family: 'Brandon_bld';
  src: url('../fonts/brandon-fonts/Brandon_bld.eot');
  src: url('../fonts/brandon-fonts/Brandon_bld.eot') format('embedded-opentype'),
  url('../fonts/brandon-fonts/Brandon_bld.woff2') format('woff2'),
  url('../fonts/brandon-fonts/Brandon_bld.woff') format('woff'),
  url('../fonts/brandon-fonts/Brandon_bld.ttf') format('truetype'),
  url('../fonts/brandon-fonts/Brandon_bld.svg#Brandon_bld') format('svg');
}
@font-face {
  font-family: 'brandon_med';
  src: url('../fonts/brandon-fonts/brandon_med.eot');
  src: url('../fonts/brandon-fonts/brandon_med.eot') format('embedded-opentype'),
  url('../fonts/brandon-fonts/brandon_med.woff2') format('woff2'),
  url('../fonts/brandon-fonts/brandon_med.woff') format('woff'),
  url('../fonts/brandon-fonts/brandon_med.ttf') format('truetype'),
  url('../fonts/brandon-fonts/brandon_med.svg#brandon_med') format('svg');
}

@font-face {
  font-family: 'Brandon_reg';
  src: url('../fonts/brandon-fonts/Brandon_reg.eot');
  src: url('../fonts/brandon-fonts/Brandon_reg.eot') format('embedded-opentype'),
  url('../fonts/brandon-fonts/Brandon_reg.woff2') format('woff2'),
  url('../fonts/brandon-fonts/Brandon_reg.woff') format('woff'),
  url('../fonts/brandon-fonts/Brandon_reg.ttf') format('truetype'),
  url('../fonts/brandon-fonts/Brandon_reg.svg#Brandon_reg') format('svg');
}

@font-face {
  font-family: 'Brandon_light';
  src: url('../fonts/brandon-fonts/Brandon_light.eot');
  src: url('../fonts/brandon-fonts/Brandon_light.eot') format('embedded-opentype'),
  url('../fonts/brandon-fonts/Brandon_light.woff2') format('woff2'),
  url('../fonts/brandon-fonts/Brandon_light.woff') format('woff'),
  url('../fonts/brandon-fonts/Brandon_light.ttf') format('truetype'),
  url('../fonts/brandon-fonts/Brandon_light.svg#Brandon_light') format('svg');
}

@font-face {
  font-family: 'GenBkBasB_1';
  src: url('../fonts/GenBk/GenBkBasB_1.eot');
  src: url('../fonts/GenBk/GenBkBasB_1.eot') format('embedded-opentype'),
  url('../fonts/GenBk/GenBkBasB_1.woff2') format('woff2'),
  url('../fonts/GenBk/GenBkBasB_1.woff') format('woff'),
  url('../fonts/GenBk/GenBkBasB_1.ttf') format('truetype'),
  url('../fonts/GenBk/GenBkBasB_1.svg#GenBkBasB_1') format('svg');
}

@font-face {
  font-family: 'RockwellRegular';
  src: url('../fonts/Rockwell/rockwell.eot');
  src: url('../fonts/Rockwell/rockwell.eot') format('embedded-opentype'),
  url('../fonts/Rockwell/rockwell.woff2') format('woff2'),
  url('../fonts/Rockwell/rockwell.woff') format('woff'),
  url('../fonts/Rockwell/rockwell.ttf') format('truetype'),
  url('../fonts/Rockwell/rockwell.svg#RockwellRegular') format('svg');
}
