.form-control{
  border-radius: 0;
  box-shadow: none;
  height: auto;
  font-family: @gen-bk;
  border-color: @white;
  background: @white;
  margin: 0;
  padding: 16px 20px;
  font-size: 17px;
  border: 1px solid @white;

  &:focus {
    border-color: @primary-color;
    box-shadow: none;
  }
}

.form-control::-webkit-input-placeholder {color:#616a7a;}
.form-control:-moz-placeholder {color:#616a7a;}
.form-control::-moz-placeholder {color:#616a7a;}
.form-control:-ms-input-placeholder {color:#616a7a;}

.form-contact {
  background-color: #032b5b;
  padding: 4em 5em;

  .btn-white {
    font-size: 18px;
    letter-spacing: 2px;
    padding: 12px 50px;
    margin-top: 15px;
    font-family: @brandon-bold;
  }

  .form-group {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form-control::-webkit-input-placeholder {color:#9f9f9f;}
  .form-control:-moz-placeholder {color:#9f9f9f;}
  .form-control::-moz-placeholder {color:#9f9f9f;}
  .form-control:-ms-input-placeholder {color:#9f9f9f;}
}

textarea {
  width: 100%;
  min-height: 172px;
  resize: none;
  border-color: #8e8e8e;
  color: #a1a1a1;
  font-family: @gen-bk;
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 5px;

  &:focus {
    outline: none;
    border-color: @primary-color;
    box-shadow: none;
  }
}

.form-holder {
  .form-group {
    display: inline-block;
    width: 25%;
    margin-right: 30px;


    &:nth-child(4) {
      width: 16%;
    }

    .btn-white {
      display: block;
      width: 100%;
    }
  }
}

div.wpcf7 .ajax-loader {
  float: left;
  display: none;
}

.wpcf7-form-control-wrap {
  position: relative;
  display: block;
}
span.wpcf7-not-valid-tip {
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #dc0000;
  padding: 6px 8px;
}
div.wpcf7-validation-errors {
  border: 2px solid #f7e700;
  display: none !important;
}
form.wpcf7-form.sent {
  position: relative;
}
div.wpcf7-mail-sent-ok {
  border: 0;
  position: absolute;
  top: -5%;
  background-color: #398f14;
  left: 50%;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  margin: auto;
  .translate(-50%,-50%);
}