.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1400px) {
    width: 1400px;
  }

}
.gap-95 {
  height: 95px;
}
.gap-90 {
  height: 90px;
}
.gap-80 {
  height: 80px;
}
.gap-50 {
  height: 50px;
}
.gap-30 {
  height: 30px;
}
.gap-20 {
  height: 20px;
}
.gap-15 {
  height: 15px;
}
.m-r20 {
  margin-right: 20px;
}
.transform-50 {
  position: absolute;
  top: 50%;
  left: 50%;
  .translate(-50%,-50%);
}
.p-0 {
  padding: 0;
}
.mw-500 {
  max-width: 500px;
  margin: auto;
}
.mw-550 {
  max-width: 550px;
  margin: auto;
}
.mw-600 {
  max-width: 600px;
}
.mw-700 {
  max-width: 700px;
  margin: 0 4em;
  text-align: justify;
}
.mw-750 {
  max-width: 750px;
  margin: auto;
}
.mw-850 {
  max-width: 850px !important;
  margin: auto;
}
.mw-900 {
  max-width: 900px;
  margin: 0 auto;
}
.afterclear {
  &:after {
    content: '';
    clear: both;
    display: table;
  }
}
.pl-4 {
  padding-left: 4em;

  @media (max-width: 991px) {
    padding-left: 0;
  }
}

.pr-5 {
  padding-right: 5em;

  @media (max-width: 991px) {
    padding-right: 0;
  }
}

.pb-6 {
  padding-bottom: 6em;
}

.pt-0 {
  padding-top: 0;
}

.white-bg {
  background-color: #fff;
  padding: 3em;
  margin-right: 15px;
  margin-bottom: 15px;
}