.life-grid {
  ul {
    li {
      width: 18%;

      @media (max-width: 1199px) {
          width: 49% !important;
      }
      @media (max-width: 600px) {
        width: 100% !important;
      }
    }
  }
}
.purchase-process {
  ul {
    margin-bottom: 60px;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;

    li {
      display: block;
      position: relative;
      padding-left: 30px;
      padding-bottom: 20px;
      float: left;
      width: 49%;

      &:before {
        content: '';
        background-color: #002d59;
        width: 15px;
        height: 15px;
        position: absolute;
        border-radius: 50%;
        left: 0;
        top: 0;
        margin: 2px;
      }
    }
  }
}