header.banner {
  background: #032b5b;
  height: auto;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  border: 0;
  .box-shadow(0px 0px 22px 1px rgba(0, 0, 0, 0.09));
  .translate(0,0);


  .head-contact {
    padding: 16px 0;
    background: #f3f4f8;
    color: @white;
    text-align: right;
    height: auto;
    padding-right: 25px;
  }

  .brand {
    display: inline-block;
    max-width: 210px;
    padding: 18px 30px 15px 20px;
    top: 0;
    background: @white;
    position: absolute;
    left: 0;


    &:before, &:after {
      background: @white;
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
    }

    &:before {
      right: 100%;
      left: -9999px;
    }

    &:after {
      width: 190px;
      right: -95px;
      -webkit-transform: skew(40deg);
      -ms-transform: skew(40deg);
      -o-transform: skew(40deg);
      transform: skew(40deg);
    }

    img {
      position: relative;
      z-index: 2;
      width: 100%;
      image-rendering: -webkit-optimize-contrast;
    }


    @media (max-width: 1199px) {
      height: auto;
      max-width: 200px;
      padding: 50px 30px 50px 20px;
    }

    @media (min-width: 1200px) {
      padding: 41px 0px 41px 0;
      max-width: 250px;
    }

    @media (min-width: 1400px) {
      padding: 46px 0px 45px 20px;
      max-width: 341px;
    }
  }

  .nav-primary {
    float: right;

    .nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      li {
        position: relative;

        a {
          display: block;
          padding: 22px 20px;
          text-transform: uppercase;
          font-family: @gen-bk;
          color: @white;
          font-size: 16px;
          position: relative;


          &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            content: "";
            background: @white;
            z-index: -1;
            -webkit-transform: skew(30deg);
            -moz-transform: skew(30deg);
            -ms-transform: skew(30deg);
            -o-transform: skew(30deg);
            transform: skew(30deg);
            .transition(all .4s ease);
            -webkit-transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;
          }

          &:hover, &:focus {
            color: #032b5b;
            background-color: transparent;

            &:after {
              width: 100%;
            }
          }
        }

        &.current-menu-item {
          a {
            color: #032b5b;
            background-color: transparent;

            &:after {
              width: 100%;
            }
          }
        }

        &:hover, &:focus {
          a {
            color: #032b5b;
            background-color: transparent;

            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1024px) {
    height: auto;
  }
}

.navbar-fixed-top {
  background-color: @white;
  .box-shadow(0px 2px 5px -5px rgba(0,0,0,0.75));
}


.head-list {
  display: inline-block;
  text-align: left;
  margin-right: 5em;

  p, a {
    color: #333333;
    margin-bottom: 8px;
    display: block;
    font-size: 14px;
    font-family: @body-font;
  }

  .fa {
    font-size: 14px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.head-icon {
  color: #315279;
  float: left;

  .fa {
    font-size: 18px;
  }
}

.head-content {
  margin-left: 2em;

   a, p {
    .transition(all .3s ease-in-out);

    &:hover {
      color: #032b5b;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.body-fixed-nav {
  header.banner .nav-primary .nav li a {
    padding: 26px 20px;

    @media (max-width: 1199px) {
      padding: 26px 15px;
      font-size: 13px;
    }
  }
  header.banner .brand {
    padding: 15px 0px 15px 20px;
    max-width: 260px;

    @media (max-width: 1399px) {
      padding: 13px 0px 14px 20px;
    }

    @media (max-width: 1199px) {
      padding: 17px 0px 16px 20px;
      max-width: 220px;
    }
  }
  .head-contact {
    display: none;
  }
}


/// MOBILE MENU
.navbar-toggle {
  border: 1px solid @white;
  border-radius: 2px;
  padding: 10px 6px;
  .transition(all .3s ease-in-out);
  margin: 18px 30px;

  .icon-bar {
    background-color: @white !important ;
    width: 27px;
    .transition(all .3s ease-in-out);

    @media (max-width: 475px) {
      width: 24px;
    }
  }

  &:hover {
    background-color: transparent !important;

    .icon-bar:nth-child(2) {
      position: relative;
      top: -1px;
    }
    .icon-bar:last-child{
      position: relative;
      top: 1px;
    }
  }
}

@media (max-width: 991px) {
  //bootstrap nav-collapse
  .navbar-toggle{
    display: block!important;
  }
  .navbar-header {
    float: none;
  }
  .menu-main-menu-container, .head-contact {
    display: none;
  }
  //end
  //mobile-menu
}

.mobile-nav {
  background-color: #032b5b;
  overflow: hidden;

  .menu-holder {
    ul {
      margin: 0;

      > li {
        float: none;
        display: block;

        a {
          padding: 18px 25px;
          font-family: @body-font;
          border-bottom: 1px solid rgba(250, 250, 250, 0.63);
          font-size: 16px;
          color: @white;

          &:hover {
            background-color: @white;
            color: #032b5b;
            padding-left: 30px;
          }
        }

        .head-list {
          display: block;
          padding: 18px 25px;
          border-bottom: 1px solid rgba(250, 250, 250, 0.63);
          margin-right: 0;
          background-color: rgb(9, 37, 70);
        }

        .head-icon {
          color: @white;
        }

        .head-content {
          margin-left: 1.5em;
        }

        .head-list p, .head-list a {
          font-size: 13px;
          color: @white;
          margin-bottom: 3px;
          border-bottom: 0;
          padding: 0;

          &:hover {
            background-color: transparent;
            color: #c6cfdb;
          }
        }
      }
    }
  }

  .cbp-spmenu-vertical {
    z-index: 2;
  }

  .menu-close {
    display: block;
    overflow: hidden;
    background-color: #092546;

    .close-menu {
      font-size: 30px;
      color: @white;
      float: right;
      background-color: transparent;
      border: none;
      outline: none !important;
      margin-top: 16px;
      padding: 0;
      margin: 18px 30px 15px;

      span {
        display: block;
        height: 5px;
        background-color: @white;
        width: 30px;
        margin: 4px 0;
        position: relative;
        .transition(all ease-in-out 0.3s);
      }

      .icon-bar-1 {
        .rotate(-44deg);
        top: 0;
      }

      .icon-bar-2 {
        .rotate(46deg);
        top: 0;
      }

      .icon-bar-3 {
        .opacity(0);
      }

      .sr-only {
        display: none;
      }
    }
  }
}

.cbp-spmenu-push-toleft {
  .menu-close {
    .close-menu {
      .icon-bar-1 {
        .rotate(44deg);
        top: 7px;
      }

      .icon-bar-2 {
        .rotate(-46deg);
        top: -2px;
      }

      &:hover {
        .icon-bar-1 {
          .rotate(38deg);

          @media (max-width: 475px) {
            .rotate(42deg);
          }
        }

        .icon-bar-2 {
          .rotate(-40deg);

          @media (max-width: 475px) {
            .rotate(-45deg);
          }
        }
      }
    }
  }
}