@media (max-width: 1399px) {
  header.banner .head-contact {
    padding: 10px 0;
  }
  .head-list p, .head-list a {
    font-size: 12px;
  }
  header.banner .nav-primary .nav li a {
    padding: 21px 20px;
    font-size: 14px;
  }
  header.banner .brand:after {
    width: 140px;
    right: -70px;
  }
  body.is__in .sep {
    width: 60px;
  }
  .section-sub .section-caption h2 {
    margin-left: 2.5em;
  }
  .mw-700 {
    margin: 0 2em;
  }
  .footer-menu .footer-menu-list {
    margin: 12px 0;
  }
  .footer-menu .footer-menu-list ul li a {
    padding: 0 18px;
  }
  .footer-menu .btn-blue {
    font-size: 14px;
    padding: 15px 25px;
    width: 100%;
    text-align: center;
  }
  .footer-content ul li a, .footer-content p {
    font-size: 14px;
  }
  .footer-content .col-md-4:before {
    right: 1%;
  }
  .service-holder .service-title .service-title-l1 {
    max-width: 400px;
  }
  .diff-title {
    max-width: 200px;
  }
  .gap-95 {
    height: 80px;
  }
  .carousel-control.right {
    left: 7%;
  }
  .life-img {
    width: 400px;
  }
}

@media (max-width: 1393px) {
  .caption {
    width: 70%;
  }
}

@media (max-width: 1199px) {
  header.banner .brand:after {
    width: 80px;
    right: -40px;
    -webkit-transform: skew(27deg);
    -ms-transform: skew(27deg);
    -o-transform: skew(27deg);
    transform: skew(27deg);
  }
  .head-list {
    margin-right: 3em;
  }
  header.banner .nav-primary .nav li a {
    padding: 21px 15px;
  }
  .section-services .services-header {
    min-height: 137px;
  }
  .folds {
    padding: 8em 0 !important;
  }
  .footer-section {
    padding: 5em 0 3em !important;
  }
  .footer-menu .footer-menu-list ul li a {
    padding: 0 15px;
    font-size: 15px;
  }
  .footer-menu .btn-blue {
    font-size: 12px;
    padding: 15px;
  }
  .footer-content p {
    line-height: 20px;
    font-size: 11px;
  }
  .footer-content .col-md-4:before {
    right: 1%;
  }
  .footer-content ul li a {
    font-size: 11px;
  }
  .footer-content h4 {
    font-size: 18px;
  }
  .footer-bottom {
    padding: 1em 0;
  }
  .footer-bottom .copyright p {
    font-size: 11px;
  }
  .footer-bottom .social-list ul li a {
    font-size: 11px;
  }
  .footer-bottom .social-list ul li {
    width: 30px;
    height: 30px;
  }
  .section-services-grid {
    padding-top: 4em;
  }
  .service-holder .service-title .service-title-l1 {
    max-width: 320px;
    padding: 25px 0;
    top: -50px;
  }
  .section-services-grid a:hover .service-title-l1 {
    top: -40px;
  }
  .service-holder .service-desc p {
    font-size: 17px;
  }
  .section-services-grid a {
    margin: 0 10px 3em;
  }
  .section-services-grid .col-md-6 {
    margin-bottom: 3em;
  }
  .service-holder .service-title .separator {
    bottom: 70px;
  }
  .about-img {
    height: 500px;
    margin-top: 0;
  }
  .different-section ul li {
    width: 180px;
  }
  .diff-icon {
    min-height: 89px;
  }
  .diff-icon img {
    zoom: 77%;
  }
  .diff-title {
    max-width: 150px;
  }
  .life-img {
    width: 300px;
  }
  .people-top img {
    zoom: 75%;
  }
}

@media (max-width: 1194px) {
  .caption {
    width: 80%;
  }
}

@media (max-width: 1045px) {
  .caption {
    width: 90%;
  }
}

@media (max-width: 991px) {
  header.banner .brand {
    max-width: 220px;
    padding: 17px 0px 16px 20px;
  }
  .section-services .services-header {
    min-height: initial;
  }
  .section-services .col-md-3 {
    margin: 0 1em 1.5em;
  }
  .section-services .col-md-3:hover {
    .scale(1,1);
  }
  .section-content {
    padding: 4em 0;
  }
  .folds .white-caption .btn-white {
    margin: 2em 0;
    float: none;
  }
  .btn-common, .btn-white {
    font-size: 15px !important;
  }
  .services-list-grid {
    padding-top: 3em;
  }
  .services-list-grid .services-grid-content {
    width: 50%;
  }
  .services-list-grid .col-md-4:nth-child(even) .services-grid-holder {
    height: 300px;
  }
  .services-list-grid .services-grid-holder {
    height: 300px;
  }
  .news-list-content {
    margin-bottom: 4em;
  }
  .news-list-content h3 {
    max-width: initial;
    min-height: initial;
  }
  .news-list-content p {
    max-width: initial;
    min-height: initial;
  }
  .form-holder .form-group {
    display: block;
    width: 80%;
    margin: 0 auto 15px;
  }
  .gap-50 {
    height: 30px;
  }
  .form-holder .form-group:nth-child(4) {
    width: initial;
    margin-top: 40px;
  }
  .form-holder .form-group .btn-white {
    display: inline-block;
    width: initial;
  }
  .form-control {
    padding: 14px 20px;
    font-size: 15px;
  }
  .footer-logo {
    text-align: center;
    margin-bottom: 3em;
  }
  .footer-menu .footer-menu-list {
    margin: 12px 0 2em;
  }
  .footer-menu .footer-menu-list ul {
    display: table;
    margin: auto;
  }
  .footer-menu .footer-logo img {
    width: initial;
  }
  .footer-consult {
    padding: 0 15px;
  }
  .footer-menu .btn-blue {
    width: initial;
    display: table;
    margin: auto;
  }
  .footer-content p {
    font-size: 13px;
    max-width: 500px;
  }
  .footer-content .col-md-4 {
    margin-bottom: 2em;
  }
  .footer-content ul li a {
    font-size: 13px;
  }
  .footer-bottom {
    padding: 1em 15px;
  }
  .service-holder .service-title .service-title-l1 {
    max-width: 80%;
    padding: 25px 15px;
  }
  .news-grid .col-md-8 {
    margin-bottom: 4em;
  }
  .news-img-holder .news-img {
    height: 300px;
  }
  .news-sidebar .news-img {
    height: 150px;
  }
  .form-contact {
    margin-top: 5em;
    padding: 4em 3em;
  }
  div#map iframe {
    height: 300px;
    padding: 0 15px;
  }
  .footer-content .col-md-4:before {
    display: none;
  }
  .ira-type-caption {
    h2 {
      max-width: 500px;
      margin: auto;
    }
    .gap-80 {
      height: 40px;
    }
    .gap-30 {
      height: 20px;
    }
    .btn-white {
      margin: 0em 0 !important;
    }
    .news-list-content {
      margin-bottom: 3em;
    }
  }
  .single-service-img-holder {
    margin-top: 3em;
  }
  .about-img {
    height: 400px;
    margin-top: 3em;
    background-position: center 10%;
  }
  .about-mtop {
    margin-top: 3em;
  }
  .different-section ul {
    columns: 1;
  }
  .different-section ul li {
    margin-bottom: 2em;
  }
  .gap-95 {
    height: 50px;
  }
  .carousel-control.right {
    left: 5%;
  }
  .white-bg {
    margin-right: 0;
  }
  .life-chart {
    display: inline-block;
  }
  .life-img {
    width: 199px;
  }
  .people-top img {
    zoom: 55%;
  }
  .single-iras-content {
    .col-md-6 {
      margin-bottom: 3em;
    }
  }
  .gap-90 {
    height: 40px;
  }
  .caption-life p {
    margin-left: 0;
  }
  .caption-life h3 {
    font-size: 25px;
  }
  .purchase-process ul li {
    width: 100%;
  }
  .purchase-process ul {
    margin-bottom: 0em;
  }
}

@media (max-width: 796px) {
  .banner-img {
    height: 550px;
  }
  .section-services {
    margin-top: -11em;
  }
}

@media (max-width: 767px) {
  .single-img {
    height: 300px;
    margin-left: 0;
  }
  .single-date {
    padding: 2em;
    top: 2%;
  }
  .company-img {
    height: 300px;
  }
  .life-content .btn-common {
    max-width: 180px;
  }
}
@media (max-width: 600px) {
  .folds {
    padding: 6em 0 !important;
  }
  .services-list-grid .services-grid-content {
    width: 80%;
  }
  .gap-80 {
    height: 40px;
  }
  .form-contact {
    padding: 3em 2em;
  }
  .single-service-img-holder .single-service-img {
    height: 250px;
  }
  .about-img {
    height: 300px;
  }
  .carousel-control.right {
    left: 7%;
  }
  .diff-icon {
    min-height: initial;
  }
  .diff-icon img {
    zoom: 60%;
  }
  .section-sub .section-caption h3 {
    margin-left: 3em;
  }
  .life-chart {
    display: block;
  }
  .life-img {
    width: 199px;
    float: none;
    margin: 0 auto 40px;
  }
  .life-content {
    float: none;
    margin: auto;
    text-align: center;
    display: table;
  }
  .life-chart .life-img:last-child {
    margin: 40px auto 0;
  }
  .life-title h5 {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .mobile-nav .menu-close .close-menu {
    margin: 10px 15px 10px;
  }
  .mobile-nav .menu-close .close-menu span {
    width: 23px;
  }
  .mobile-nav .menu-holder ul > li a {
    padding: 12px 15px;
    font-size: 13px;
  }
  .mobile-nav .menu-holder ul > li .head-list {
    padding: 12px 15px;
  }
  .head-icon .fa {
    font-size: 15px;
  }
  .mobile-nav .menu-holder ul > li .head-list p, .mobile-nav .menu-holder ul > li .head-list a {
    font-size: 11px;
    margin-bottom: 2px;
  }
  header.banner .brand {
    max-width: 200px;
    padding: 18px 0px 17px 20px;
  }
  header.banner .brand:after {
    width: 80px;
    right: -30px;
  }
  .navbar-toggle {
    margin: 17px 30px;
  }
  .body-fixed-nav header.banner .brand {
    padding: 18px 0px 17px 20px;
    max-width: 200px;
  }
  .btn-common, .btn-white {
    font-size: 13px !important;
  }
  .footer-menu .footer-menu-list ul li a {
    padding: 0 11px;
    font-size: 14px;
  }
  .footer-bottom .copyright {
    float: none;
    margin-bottom: 15px;
    text-align: center;
  }
  .footer-bottom .social-list {
    float: none;
    text-align: center;
  }
  .footer-menu .footer-logo img {
    width: 100%;
  }
  .footer-logo {
    max-width: 250px;
    margin: 0 auto 2em;
  }
  .footer-menu .footer-menu-list {
    margin: 12px 0 1.5em;
  }
  .footer-menu .footer-menu-list ul li a {
    padding: 0 10px;
    font-size: 13px;
  }
  body.is__in .sep {
    width: 40px;
  }
  .section-sub .section-caption h2 {
    margin-left: 2em;
  }
  .section-banner.banner-subpage:after {
    height: 50px;
  }
  .mw-700 {
    margin: 0 1.5em;
  }
  .service-title-l1 h3 {
    font-size: 19px;
  }
  .service-holder .service-desc p {
    font-size: 14px;
  }
  .section-banner.banner-subpage .banner-img {
    height: 250px;
  }
  .section-banner.banner-subpage .caption {
    top: 60%;
  }
  .service-holder .service-img {
    height: 250px;
  }
  .news-img-holder .news-img {
    height: 200px;
  }
  .news-sidebar .news-img {
    height: 100px;
  }
  .section-sub .section-caption h3 {
    margin-left: 2.5em;
  }
}

@media (max-width: 345px) {
  .mobile-nav .menu-close .close-menu {
    margin: 5px 15px 5px;
  }
  .mobile-nav .menu-close .close-menu span {
    width: 18px;
  }
  .mobile-nav .menu-holder ul > li a {
    padding: 8px 15px;
    font-size: 9px;
  }
  .mobile-nav .menu-holder ul > li .head-list {
    padding: 8px 15px;
  }
  .head-icon .fa {
    font-size: 13px;
  }
  .mobile-nav .menu-holder ul > li .head-list p, .mobile-nav .menu-holder ul > li .head-list a {
    font-size: 8px;
  }
  .body-fixed-nav header.banner .brand {
    max-width: 150px;
    padding: 15px 0px 16px 20px;
  }
  header.banner .brand {
    max-width: 150px;
    padding: 15px 0px 16px 20px;
  }
  .navbar-toggle {
    margin: 12px 15px;
    padding: 8px 4px;
  }
  h2 {
    font-size: 25px;
  }
  .footer-menu .footer-logo img {
    width: 100%;
  }
  .footer-logo {
    margin-bottom: 2em;
    max-width: 200px;
    margin: 0 auto 2em;
  }
  .footer-menu .footer-menu-list {
    margin: 12px 0 1em;
  }
  .footer-menu .footer-menu-list ul li a {
    padding: 0 8px;
    font-size: 11px;
  }
  .footer-content p {
    font-size: 11px;
  }
  .footer-content ul li a {
    font-size: 11px;
  }
  .footer-section {
    padding: 3em 0 3em !important;
  }
  .section-sub .section-caption h2 {
    font-size: 25px;
  }
  .service-title-l1 h3 {
    font-size: 15px;
  }
  .service-holder .service-desc p {
    font-size: 13px;
  }
  .service-holder .service-title .service-title-l1 {
    padding: 20px 0;
  }
  .service-holder .service-title .separator {
    bottom: 60px;
  }
}