.IEbrowser {
  .animated {
    .opacity(1);
    .translate(0,0);
  }
  div.wpcf7 .ajax-loader {
    float: none;
    display: inline-block;
  }
}

.ie9 {
  .navbar-default .navbar-nav > li > a:before {
    display: none;
  }
  header.banner .nav-primary .nav li {
    display: inline-block;
  }
  .section-gradient:before {
    background-color: #032b5b;
  }
}

.ie8, .ie7 {
  header.banner .nav-primary .nav li {
    display: inline-block;
  }
  header.banner .brand {
    max-width: 260px;
    padding: 25px 30px 15px 20px;
  }
  .body-fixed-nav header.banner .brand {
    padding: 21px 0px 15px 16px;
    max-width: 230px;
  }
  div.wpcf7 .ajax-loader {
    display: none;
  }
  p {
    font-size: 17px;
  }
  a {
    font-size: 15px;
  }

  .translate(0,0);
  .transition(0);

  .transform-50 {
    .translate(0,0);
    top: 40%;
    left: 25%;
  }
  .section-gradient:before {
    background-color: #032b5b;
  }
  .navbar-toggle {
    display: none;
  }
  .services-list-grid .services-grid-content {
    top: 30%;
    left: 15%;
  }
  .footer-menu .btn-blue {
    font-size: 14px;
    padding: 15px 12px;
  }
  .footer-menu .footer-menu-list UL LI A {
    font-size: 15px;
    padding: 0 16px;
  }
  .diff-title {
    max-width: auto;
    width: 150px;
  }
  .different-section ul li {
    width: 200px;
  }
  .body-fixed-nav header.banner .nav-primary .nav LI A {
    padding: 26px 16px;
  }
  .container {
    width: 1200px;
  }
  .col-md-3 {
    float: left;
    width: 25%;
  }
  .col-md-4 {
    float: left;
    width: 33.33%;
  }
  .col-md-8 {
    float: left;
    width: 66.66666667%;
  }
  .col-md-7 {
    float: left;
    width: 58.33%;
  }
  .col-md-5 {
    float: left;
    width: 41.66%;
  }
  .col-md-6 {
    float: left;
    width: 50%;
  }
  body {
    width: 1500px;
    overflow: visible!important;
    margin: auto;
  }
  .collapse.navbar-collapse {
    display: block!important;
  }
  .navbar-default .navbar-toggle {
    display: none!important;
  }
}
.ie7 {
  .col-md-6 {
    width: 48%;
  }
  .head-list {
    float: right;
  }

  header.banner .nav-primary .nav LI {
    float: left;
  }

  .section-gradient {
    background: #032b5b;
  }
  .col-md-3 {
    width: 20%;
  }
  .col-md-4 {
    width: 30.33%;
  }

  .col-md-8 {
    width: 64.66%;
  }

  .form-holder .form-group {
    float: left;
    padding-right: 30px;
  }

  .footer-menu-list {
    ul {
      li {
        float: left;
      }
    }
  }
}