
.section-gradient {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #004080), color-stop(1, #001b36));
    background-image: -o-linear-gradient(left, #004080 20%, #001b36 100%);
    background-image: -moz-linear-gradient(left, #004080 20%, #001b36 100%);
    background-image: -webkit-linear-gradient(left, #004080 20%, #001b36 100%);
    background-image: -ms-linear-gradient(left, #004080 20%, #001b36 100%);
    background-image: linear-gradient(to left, #004080 20%, #001b36 100%);
    .opacity(.9);
  }
}
.section-banner {
  position: relative;

  &:before {
    //-webkit-transform-style: preserve-3d;
    //-webkit-backface-visibility: hidden;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -150px;
    width: 100%;
    height: 250px;
    background: #fff;
    -webkit-transform: skewY(4.5deg);
    -moz-transform: skewY(4.5deg);
    -ms-transform: skewY(4.5deg);
    -o-transform: skewY(4.5deg);
    transform: skewY(-4.3deg);
    padding: 1px;
  }
}
.section-content {
  padding: 9em 0;
}

.section-content-subpage {
  padding: 3em 0px 5em;
}

.section-sub {
  .section-caption {
    h2 {
      margin-left: 3em;
    }
    h3 {
      margin-left: 4.5em;
    }
  }
}

.section-services {
  margin-top: -12em;

  .col-md-3 {
    display: block;
    background-color: @white;
    padding: 40px 30px;
    .transition(.3s);
    .scale(1,1);
    position: relative;
    z-index: 1;

    a {
      display: block;
      .transition(all .3s ease-in-out);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #f3f4f8;
      .transition(all .3s ease-in-out);
    }

    &:hover {
      .scale(1.1,1.1);
      .box-shadow(0px 0px 22px 1px rgba(0,0,0,0.09));
      z-index: 2;
    }
  }

  .services-header {
    margin-bottom: 30px;
    min-height: 157px;

    .services-icon {
      margin-bottom: 15px;
    }
  }
}
.section-services-grid {
  padding-top: 7em;
}
.section-caption {
  p {
    a {
      color: #032b5b;
    }
  }
}
.section-map {
  padding-bottom: 6em
}

.single-img {
  height: 500px;
  background-position: initial;
  margin-left: 11em;
  width: initial;
}